@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

body {
	background: url(../images/bg.png) repeat;
}

.wrapperLogin {
	/* Center wrapper perfectly */
	width: 300px;
	height: 400px;
	position: absolute;
	left: 50%;
	top: 300px;
	margin-left: -150px;
	margin-top: -200px;
}

form.wrapperLogin {
	width: 300px;
	margin: 0 auto;
	position: relative;
	z-index:5;
	
	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

/* Header del formulario de login */
.form-login .form-login-header {
	padding: 40px 30px 30px 30px;
}
